// Reset
html{
    font-size: 62.5%;
}

@import 'abstracts/variables';
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    background-color: $Very-dark-blue;
    display: flex;
    font-size: 1.3rem;
    font-family: 'Rubik', sans-serif;
}

.dashboard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: center;
    gap: 1rem;
    margin: 2rem;
    width: 100%;

    &-left_container{
        // max-width: 30rem;
        &_top{
            display: flex;
            align-items: center;
            color: #fff;
            gap: 1.5rem;
            background-color: $blue;
            // max-width: 30rem;
            border-radius: 1rem;
            padding: 2rem;
            position: relative;
            top: 1rem;
            // justify-content: center;

            img{
                width: 9rem;
                border: 2px solid #fff;
                border-radius: 100%;
            }

            .content{
                h4{
                    font-weight: 300;
                }

                h2{
                    font-weight: 400;
                    font-size: 2rem;
                }
            }

        }


        &_bottom{
            display: flex;
            justify-content: space-evenly;
            padding: 2.5rem 0 2rem 0;
            border-bottom-left-radius: 1rem;
            border-bottom-right-radius: 1rem;
            background-color: $Dark-blue;

            

            button{
                border: none;
                background: none;
                cursor: pointer;
                text-transform: capitalize;
                color: $Desaturated-blue; //change to blue
                font-size: 1.8rem;



                &.active, &:hover{
                    color: #fff;
                    transition: color 200ms ease-in-out;
                }
            }
        }

        
    }

    &-right_container{
        &:not(:last-child){
            margin-bottom: 1rem;
        }
   


        .top{
            // background-color: red;
            height: 6rem;
            border-top-left-radius: 1rem;
            border-top-right-radius: 1rem;
            // background-image: ;
            background-repeat: no-repeat;
            background-position: right;

            &-work{
                background-color: $Light-red-work;
                background-image: url(../images/icon-work.svg);
            }
            &-play{
                background-color: $Soft-blue-play;
                background-image: url(../images/icon-play.svg);
            }
            &-study{
                background-color: $Light-red-study;
                background-image: url(../images/icon-study.svg);
            }
            &-exercise{
                background-color: $Lime-green-exercise;
                background-image: url(../images/icon-exercise.svg);
            }
            &-social{
                background-color: $Violet-social;
                background-image: url(../images/icon-social.svg);
            }
            &-self_care{
                background-color: $Soft-orange-self-care;
                background-image: url(../images/icon-self-care.svg);
            }

        }
    

        .bottom{
            background-color: $Dark-blue;
            border-radius: 1rem;
            margin-top: -2rem;
            padding: 3rem;
            transition: background-color $transition;
            line-height: 1.5;

            &:hover{
                background-color: hsl(237, 28%, 26%);
            }

            .dot{
                .fa-solid{font-size: 2.5rem;}
            }

            h2{font-weight: 400;}

            .time{
                font-weight: 300;
            }

            p{
                font-weight: 300;
                color: $Pale-Blue;
            }
        

            .flex-content{
                display: flex;
                justify-content: space-between;
                color: #fff;
                align-items: center;

                h2{
                    text-transform: capitalize;
                }
            }

            .day, .weekly, .monthly{
                display: none;

                &.active{display: flex;}
            }


            .info-content{
                // display: flex;
                color: #fff;
                align-items: center;
                justify-content: space-between;

                

                .time{
                    font-size: 4rem;
                }

                p{
                    font-size: 1.8rem;
                }
            }

           
        }
    }
}


@media screen and (max-width: 375px){
    .dashboard{
        &-right_container{
            .bottom{
                .info-content{
                    p{font-size: 1.2rem;}
                    .time{font-size:3.5rem;}
                }
            }
        }
    }
}

// media Querries
@media screen and (min-width: 1024px){
    body{
        align-items: center;
        justify-content: center;
        height: 100vh;
    }

    .dashboard{
        max-width: 80%;
        // margin: 10rem auto;
        // height: 100vh;
        &-right{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 2rem;
        }
    }
}

@media screen and (min-width: 1300px){
    .dashboard{
        display: grid;
        grid-template-columns: 20% 80%;
        max-width: 80%;
        margin: auto;
        gap: 3rem;


        &-right{
            grid-template-columns: repeat(3, 1fr);
        }

        &-left_container{
            display: flex;
            flex-direction: column;
            
            // flex-wrap: wrap;

            &_top{
                flex-direction: column;
                align-items: initial;
                padding-bottom: 5rem;
                padding-top: 3rem;
                top: unset;

                .content{
                    padding-top: 2.5rem;

                    h2{font-size: 4rem; font-weight: 300;}


                }

            }

            &_bottom{
                flex-direction: column;
                align-items: flex-start;
                padding-left: 2rem;
                // line-height: 2.5;
                height: 17.5rem;
                margin-top: -1rem;

                button{
                    line-height: 3;
                    width: 100%;
                    text-align: left;

                }
            }
        }


        &-right_container{


            .bottom{
                .info-content{
                    // display: flex;
                    flex-direction: column;
                    align-items: initial;
                    margin-top: 1.2rem;
                }
            }
        }
    }
}